* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1e1e1e;
}

/* container center screen */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.container p {
    font-size: 1em;
    color: #ffffff;
}

.heart {
    color: #ff0000;
}

.container a {
    text-decoration: none;
    color: #8ce2ee;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    background-color: #ffffff;
 
}

.box h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
}

.box input[type="text"] {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    gap: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.box input[type="text"]:focus {
    outline: none;
    border: 1px solid #aaa;
}

.box input[type="number"]{
    width: 80%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box input[type="number"]:focus {
    outline: none;
    border: 1px solid #aaa;
}

.buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 45%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
    background-color: #cccccc;
}

.buttons button:active {
    background-color: #aaa;
}

.error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
}

.error p {
    color: #ff0000;
}